/*DOCUMENTO CSS*/

*{margin:0}

body{font-family: 'Roboto', sans-serif;}

.perfil{width: 200px;}

.container {display: flex;
                justify-content: center;
                min-height: 350px;}

.row1 {flex-flow: column wrap;
        width: 30%;
        padding: 30px;
        text-align: justify;}

.row2 {flex-flow: column wrap;
        width: 100%;
        padding: 30px;
        background-color: rgb(0, 11, 97);
        color: white;
        text-align: justify;}

.items {width: 33%;
    text-align: center;
    color: black;
    font-size: 3em;}


