/*Documento CSS*/

*{margin: 0px;}

body {font-family:Arial, Helvetica, sans-serif;}

.items {display: flex;
        flex-direction: row;
        justify-content: space-between;}

.video {padding: 10px;}



h2 {font-size: 18px;
          }

p {font-size: 14px;
          color: #999;
          }

span {font-size: 14px;
              color: #333;
              }
